* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


/*   VARIABELS  : */

:root {
    --primaryColor: #6d28d9;
    --secondaryColor: #ede9fe;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGray: #7c7c7c;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
    --mainRed: #db2777;
    --bodyColor: #f6f6f6;
}

body {
    color: var(--mainBlack);
    background-color: var(--bodyColor);
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form-container {
    display: flex;
}

.todo-container {
    width: 25rem;
}

form {
    width: 25rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

form input {
    flex: 1;
}

form input,
form button {
    border: none;
    outline: none;
    background-color: var(--mainWhite);
    padding: 0.5rem;
}

form button {
    color: var(--primaryColor);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

form button:hover {
    background-color: var(--primaryColor);
    color: var(--mainWhite);
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 0.3rem 0;
    transition: all 0.3s ease;
    background-color: var(--secondaryColor);
}

.todo li {
    flex: 1;
    color: var(--primaryColor);
    font-weight: bold;
}

.todo span {
    display: block;
    font-size: 1rem;
    padding: 0.5rem;
    cursor: pointer;
}

.fa-trash-alt {
    color: var(--mainRed);
}

.fa-check-square {
    color: var(--primaryColor);
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

select{
    appearance: none;
    border: none;
    outline: none;
    width: 100%;
    padding: 1rem;
    color: var(--primaryColor);
}
.select{
    margin-left: 1rem;
    background-color: #fff;
    cursor: pointer;
    width: 10rem;
    font-weight: bold;
    position: relative;
}
.select::after{
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    color: var(--primaryColor);
    pointer-events: none;
}